<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8" />
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<title>Faceboi - Calendário</title>

<link href='http://fonts.googleapis.com/css?family=Economica'
	rel='stylesheet' type='text/css'>

<!-- Bootstrap core CSS -->
<link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"
	rel="stylesheet" />
<link th:href="@{/webjars/bootstrap/css/bootstrap-theme.min.css}"
	rel="stylesheet" />

<!-- Respomsive slider -->
<link href="../css/calendario.css" rel="stylesheet">

</head>
<body>

	<!-- Navigation -->
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
		<div class="container">
			<a class="navbar-brand" href="/">Faceboi</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse"
				data-target="#navbarResponsive" aria-controls="navbarResponsive"
				aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarResponsive">
				<ul class="navbar-nav ml-auto">
					<li class="nav-item"><a class="nav-link" href="/notificacoes">Notificações
					</a></li>
					<li class="nav-item"><a class="nav-link" href="/animais">Lista
							de Animais</a></li>
					<li class="nav-item active"><a class="nav-link"
						href="/calendario">Calendário de vacinas <span class="sr-only">(current)</span></a></li>
					<li class="nav-item"><a class="nav-link" href="#">Relatórios</a>
					</li>
					<li class="nav-item dropdown"><a
						class="nav-link dropdown-toggle" data-toggle="dropdown">Fazer
							Manejo <span class="caret"></span>
					</a>
						<ul class="dropdown-menu">
							<li><a class="dropdown-item" href="#">Saída</a></li>
							<li><a class="dropdown-item" href="#">Pesagem</a></li>
							<li><a class="dropdown-item" href="#">Vacina</a></li>
						</ul></li>
					<li class="nav-item"><a class="nav-link" href="/login">Entrar/Registrar-se</a></li>
				</ul>
			</div>
		</div>
	</nav>

	<div class="container">
		<!-- Responsive calendar - START -->
		<div class="responsive-calendar">
			<div class="controls">
				<a class="pull-left" data-go="prev"><div class="btn btn-primary">Prev</div></a>
				<h4>
					<span data-head-year></span> <span data-head-month></span>
				</h4>
				<a class="pull-right" data-go="next"><div
						class="btn btn-primary">Next</div></a>
			</div>
			<hr />
			<div class="day-headers">
				<div class="day header">Segunda</div>
				<div class="day header">Terça</div>
				<div class="day header">Quarta</div>
				<div class="day header">Quinta</div>
				<div class="day header">Sexta</div>
				<div class="day header">Sábado</div>
				<div class="day header">Domingo</div>
			</div>
			<div class="days" data-group="days"></div>
		</div>
		<!-- Responsive calendar - END -->
	</div>
	<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
	<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
	<script src="../js/calendario.js"></script>
	<script type="text/javascript">
		$(document).ready(function() {
			$(".responsive-calendar").responsiveCalendar({
				time : '2018-02',
				events : {
					"2018-02-15" : {
						"number" : 5
					},
					"2018-02-26" : {
						"number" : 1
					},
					"2018-02-03" : {
						"number" : 1
					},
					"2018-02-12" : {}
				}
			});
		});
	</script>
</body>
</html>
