<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>

<meta charset="UTF-8" />
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<title>Faceboi</title>

<!-- Bootstrap core CSS -->
<link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"
	rel="stylesheet" />
<link th:href="@{/webjars/bootstrap/css/bootstrap-theme.min.css}"
	rel="stylesheet" />

</head>

<body>

	<!-- Navigation -->
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
		<div class="container">
			<a class="navbar-brand" href="/">Faceboi</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse"
				data-target="#navbarResponsive" aria-controls="navbarResponsive"
				aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarResponsive">
				<ul class="navbar-nav ml-auto">
					<li class="nav-item"><a class="nav-link" href="/notificacoes">Notificações
					</a></li>
					<li class="nav-item"><a class="nav-link" href="/animais">Lista
							de Animais</a></li>
					<li class="nav-item"><a class="nav-link" href="/calendario">Calendário
							de vacinas</a></li>
					<li class="nav-item"><a class="nav-link" href="#">Relatórios</a>
					</li>
					<li class="nav-item dropdown"><a
						class="nav-link dropdown-toggle" data-toggle="dropdown">Fazer
							Manejo <span class="caret"></span>
					</a>
						<ul class="dropdown-menu">
							<li><a class="dropdown-item" href="#">Saída</a></li>
							<li><a class="dropdown-item" href="#">Pesagem</a></li>
							<li><a class="dropdown-item" href="#">Vacina</a></li>
						</ul></li>
					<li class="nav-item"><a class="nav-link" href="/login">Entrar/Registrar-se</a></li>
				</ul>
			</div>
		</div>
	</nav>

	<!-- Page Content -->
	<div class="container">

		<!-- Jumbotron Header -->
		<header class="jumbotron my-4">
			<h1 class="display-3">Bem vindo!</h1>
			<p class="lead">Esta aplicação tem o objetivo de ajudar o homem
				do campo a administrar as vacinas de seu rebanho.</p>
		</header>

		<!-- Page Features -->


	</div>
	<!-- /.container -->

	<!-- Bootstrap and JQuery core JavaScript -->
	<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
	<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</body>
</html>
