<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8" />
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<title>Lista de Animais</title>

<!-- Bootstrap core CSS -->
<link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"
	rel="stylesheet" />
<link th:href="@{/webjars/bootstrap/css/bootstrap-theme.min.css}"
	rel="stylesheet" />

</head>

<body>

	<!-- Navigation -->
	<div class="navbar navbar-inverse navbar-expand-lg fixed-top">
		<div class="container">
			<div class="navbar-header">
				<a class="navbar-brand" href="/">Faceboi</a>
			</div>
			<div class="navbar-collapse collapse">
				<ul class="nav navbar-nav">
					<li><a href="/notificacoes">Notificações</a></li>
					<li class="active"><a href="">Lista de Animais</a></li>
					<li><a href="/calendario">Calendário de vacinas</a></li>
					<li><a href="https://adminlte.io/themes/AdminLTE/pages/charts/chartjs.html">Relatórios</a></li>
					<li class="dropdown"><a class="dropdown-toggle"
						data-toggle="dropdown" href="#">Fazer Manejo <span
							class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><a href="#">Saída</a></li>
							<li><a href="#">Pesagem</a></li>
							<li><a href="#">Vacina</a></li>
						</ul></li>
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<li><a href="/login">Entrar/Registrar-se</a></li>
				</ul>
			</div>
		</div>
	</div>


	<!-- Page Content -->
	<div class="container">
		<div class="row">
			<div class="col-lg-12">

				<form class="form-inline" method="POST" th:action="@{/animais}"
					th:object="${animal}" style="margin: 20px 0">
					<div class="form-group">
						<!-- Button trigger modal -->
						<button type="button" class="btn btn-primary" data-toggle="modal"
							data-target="#exampleModal">Adicionar animal</button>

						<!-- Modal -->
						<div class="modal fade" id="exampleModal" tabindex="-1"
							role="dialog" aria-labelledby="exampleModalLabel"
							aria-hidden="true">
							<div class="modal-dialog" role="document">
								<div class="modal-content">
									<div class="modal-header">
										<h5 class="modal-title" id="exampleModalLabel">Adicionando
											novo animal</h5>
										<button type="button" class="close" data-dismiss="modal"
											aria-label="Close">
											<span aria-hidden="true">&times;</span>
										</button>
									</div>
									<div class="modal-body">


										<input type="text" class="form-control" id="nome"
											th:field="*{nome}" placeholder="Nome" /> 
											
										<input type="text" class="form-control" id="peso" 
											th:field="*{peso}" placeholder="Peso" />
											
										<input type="date" class="form-control" id="dataNasc" 
											th:field="*{dataNasc}" placeholder="Nascimento" />
									</div>
									<div class="modal-footer">
										<button type="button" class="btn btn-secondary"
											data-dismiss="modal">Cancelar</button>
										<button type="submit" class="btn btn-primary">Salvar</button>
									</div>
								</div>
							</div>
						</div>
					</div>
				</form>

				<table class="table">
					<thead>
						<tr>
							<th>Id</th>
							<th>Nome</th>
							<th>Nascimento</th>
							<th>Peso</th>
							<th>Tipo</th>
							<th>Raça</th>
						</tr>
					</thead>

					<tbody>
						<tr th:each="animal : ${animais}">
							<td th:text="${animal.id}"></td>
							<td th:text="${animal.nome}"></td>
							<td th:text="${animal.dataNasc}"></td>
							<td th:text="${animal.peso}"></td>
							<td></td>
							<td></td>
							<td><button type="button" class="btn btn-info">Ver</button></td>
							<td><button type="button" class="btn btn-warning">Editar</button></td>
							<td><button type="button" class="btn btn-danger">Excluir</button></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>

	<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
	<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</body>
</html>