<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>

<meta charset="UTF-8" />
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<title>Faceboi</title>

<!-- Bootstrap core CSS -->
<link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"
	rel="stylesheet" />
<link th:href="@{/webjars/bootstrap/css/bootstrap-theme.min.css}"
	rel="stylesheet" />

<!-- Custom styles for this template -->
<link href="../static/css/index.css" rel="stylesheet">

</head>

<body>

	<!-- Navigation -->
	<div class="navbar navbar-inverse navbar-expand-lg fixed-top">
		<div class="container">
			<div class="navbar-header">
				<a class="navbar-brand" href="/">Faceboi</a>
			</div>
			<div class="navbar-collapse collapse">
				<ul class="nav navbar-nav">
					<li class="active"><a href="/notificacoes">Notificações</a></li>
					<li><a href="/animais">Lista de Animais</a></li>
					<li><a href="/calendario">Calendário de vacinas</a></li>
					<li><a href="https://adminlte.io/themes/AdminLTE/pages/charts/chartjs.html">Relatórios</a></li>
					<li class="dropdown"><a class="dropdown-toggle"
						data-toggle="dropdown" href="#">Fazer Manejo <span
							class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><a href="#">Saída</a></li>
							<li><a href="#">Pesagem</a></li>
							<li><a href="#">Vacina</a></li>
						</ul></li>
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<li><a href="/login">Entrar/Registrar-se</a></li>
				</ul>
			</div>
		</div>
	</div>

	<!-- Page Content -->
	<div class="container">

		<!-- Page Features -->
		<div class="row text-center">

			<div class="text-left alert alert-danger" role="alert">O animal
				{{animal.nome}} deve ser vacinado.</div>

		</div>

		<div class="row text-center">

			<div class="text-left alert alert-danger" role="alert">O animal
				{{animal.nome}} deve ser vacinado.</div>

		</div>

		<div class="row text-center">

			<div class="text-left alert alert-danger" role="alert">O animal
				{{animal.nome}} deve ser vacinado.</div>

		</div>
		<!-- /.row -->


	</div>
	<!-- /.container -->

	<!-- Bootstrap and JQuery core JavaScript -->
	<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
	<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</body>
</html>
